{% extends "base.html" %}
	
{% load static from staticfiles %}

{% block title %}| Weekly Digest Archive{% endblock %}
{% block ogtitle %}| Weekly Digest Archive{% endblock %}
{% block twittertitle %}| Weekly Digest Archive{% endblock %}

{% block content %}
{% if issues %}
<section>
	<p>
		Sign up to receive the Showgrid Weekly Digest in your inbox each week. 
	</p>

	<form class="form" method="post" action="http://showgrid.com/v1/signup">
		
		<input type="email" name="email" placeholder="Email address" required/><input type="submit" value="Submit"/>
		<div class="msg">
			There is something here that once wasn't.
		</div>
	</form>
</section>

{% for issue in issues %}
<a class="issue" href="http://showgrid.com/issue/{{ issue.id }}">
	<section class="issue list" style="background-image:url('media/{{ issue.banner }}');">
		<h4>Weekly Digest | {{ issue.tag }}</h4>
		<span>
			Week of {{ issue.start_date|date:"F jS" }}
		</span>
	</section>
</a>
{% endfor %}
{% else %}
<div class="placeholder">
	<h2>First Issue comes out this Sunday, February 22nd.<br><br>Sit Tight!</h2>
</div>
{% endif %}
{% endblock %}


{% block scripts %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0-alpha1/jquery.min.js"></script>
<script>
	$(function() {

		//hang on event of form with id=myform
		$(".form").submit(function(e) {
			e.preventDefault();

			if ($(this).hasClass("success")) return;

			if (!validateEmail($(".form input[type=email]").val())) {
				$(".form").addClass("error");

				$(".form .msg").html("Enter a valid email address.")

				setTimeout(function() {
					$(".form").removeClass("error");
				}, 5000);
				return;
			}

			//get the action-url of the form
			var actionurl = e.currentTarget.action;
		
			$(".form").addClass("request");

			//do your own request an handle the results
			$.ajax({
				url: actionurl,
				type: 'POST',
				dataType: 'json',
				data: $(".form").serialize(),
				complete: function(data) {
					if (data.status === 200) {
						$(".form").addClass("success");
						$(".form input[type=submit]").val("Thanks for signing up! See you soon.");
					}

					// Already entered this eail.
					if (data.status === 409) {
						$(".form").addClass("error");

						$(".form .msg").html("You've already signed up with this email address.")

						setTimeout(function() {
							$(".form").removeClass("error");
						}, 5000);
						return;
					}
				}
			});

		});

		function validateEmail(str) {
			var lastAtPos = str.lastIndexOf('@');
		    var lastDotPos = str.lastIndexOf('.');
		    return (lastAtPos < lastDotPos && lastAtPos > 0 && str.indexOf('@@') == -1 && lastDotPos > 2 && (str.length - lastDotPos) > 2);
		}

	});

</script>
{% endblock %}