<!DOCTYPE html>
<html>
	<head>
		{% load staticfiles %}

		<title>Showgrid Nashville</title>

		<meta name=”description” content=”Showgrid is a simple live music calendar for Nashville.”>

		<link rel="icon" type="image/png" href='{% static "showgrid/img/favicon.ico" %}'>
		
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<meta name="viewport" content="width=device-width, initial-scale=1,user-scalable=no">

		<meta property="og:title" content="Showgrid Nashville"/>
		<meta property="og:type" content="website"/>
		<meta property="og:image" content="http://www.showgridnashville.com/static/showgrid/img/sg--fb.gif"/>
		<meta property="og:url" content="http://showgrid.com"/>
		<meta property="og:description" content="Nashville's no-none-sense live music calendar made with love and created to keep you informed."/>

		<link rel="stylesheet" type="text/css" href='{% static "showgrid/css/base.css" %}'/>
		<link rel="stylesheet" type="text/css" href='{% static "showgrid/css/font.css" %}'/>
	</head>
	<body id="showgrid">
	</body>
 
 	<script>
		function ga () {
			var string = "";
			for (var i=0; i < arguments.length; i++) {
				string += arguments[i] + " ";
			}
			console.log(string);
		}
 	</script>

    <script src='{% static "showgrid/js/bundle.js" %}'></script>
</html>
