{% extends "base.html" %}
	
{% load static from staticfiles %}

{% block content %}

{% if contest %}
<a class="issue" href="/contest/{{ contest.id }}">
	<section class="issue tall list" style="background-image:url('media/{{ contest.banner }}');">
	</section>
	<section class="issue-head">
		<h4>{{ contest.title }}</h4>
		<span>
			Click For More Info...
		</span>
	</section>
</a>
{% endif %}

{% if issue %}
<a class="issue" href="/issue/{{ issue.id }}">
	<section class="issue list" style="background-image:url('media/{{ issue.banner }}');">
		<h4>This Week's Digest</h4>
		<span>
			Week of {{ issue.start_date|date:"F jS" }}&nbsp; | &nbsp;{{ issue.tag }}
		</span>
	</section>
</a>
{% endif %}

<section>
	<h4>Showgrid Weekly Digest</h4>
	<p>
		Sign up below to receive a selection of shows for the week accompanied by a Spotify playlist. The playlist will be made up of the artists that are playing in town that week. 
	</p>

	<form class="form" method="post" action="http://localhost:8000/v1/signup?ref={{ref}}">
		{% csrf_token %} 
		<input type="email" name="email" placeholder="Email address" required/><input type="submit" value="Submit"/>
		<div class="msg">
			There is something here that once wasn't.
		</div>
	</form>
</section>

<section>
	<h3 class="fade">Coming Soon...</h3>
	<ul>
		<li>
			<svg class="icon icon-calendar"><use xlink:href="#icon-calendar"></use></svg><br>
		</li>
		<li>
			<svg class="icon icon-article"><use xlink:href="#icon-article"></use></svg><br>
		</li>
		<li>
			<svg class="icon icon-playlist"><use xlink:href="#icon-playlist"></use></svg><br>
		</li>
	</ul>
</section>
{% endblock %}


{% block scripts %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0-alpha1/jquery.min.js"></script>
<script>
	$(function() {

		var QueryString = function () {
		  // This function is anonymous, is executed immediately and 
		  // the return value is assigned to QueryString!
		  var query_string = {};
		  var query = window.location.search.substring(1);
		  var vars = query.split("&");
		  for (var i=0;i<vars.length;i++) {
		    var pair = vars[i].split("=");
		        // If first entry with this name
		    if (typeof query_string[pair[0]] === "undefined") {
		      query_string[pair[0]] = decodeURIComponent(pair[1]);
		        // If second entry with this name
		    } else if (typeof query_string[pair[0]] === "string") {
		      var arr = [ query_string[pair[0]],decodeURIComponent(pair[1]) ];
		      query_string[pair[0]] = arr;
		        // If third or later entry with this name
		    } else {
		      query_string[pair[0]].push(decodeURIComponent(pair[1]));
		    }
		  } 
		    return query_string;
		}();

		//hang on event of form with id=myform
		$(".form").submit(function(e) {
			e.preventDefault();

			if ($(this).hasClass("success")) return;

			if (!validateEmail($(".form input[type=email]").val())) {
				$(".form").addClass("error");

				$(".form .msg").html("Enter a valid email address.")

				setTimeout(function() {
					$(".form").removeClass("error");
				}, 5000);
				return;
			}

			//get the action-url of the form
			var actionurl = e.currentTarget.action;
			var data = $(".form").serialize();
		
			$(".form").addClass("request");

			if (QueryString.ref) {
				data += "&ref=" + QueryString.ref;
			}

			//do your own request an handle the results
			$.ajax({
				url: actionurl,
				type: 'POST',
				dataType: 'json',
				data: $(".form").serialize(),
				complete: function(data) {
					if (data.status === 200) {
						$(".form").addClass("success");
						$(".form input[type=submit]").val("Thanks for signing up! See you soon.");
					}

					// Already entered this eail.
					if (data.status === 409) {
						$(".form").addClass("error");

						$(".form .msg").html("You've already signed up with this email address.")

						setTimeout(function() {
							$(".form").removeClass("error");
						}, 5000);
						return;
					}
				}
			});

		});

		function validateEmail(str) {
			var lastAtPos = str.lastIndexOf('@');
		    var lastDotPos = str.lastIndexOf('.');
		    return (lastAtPos < lastDotPos && lastAtPos > 0 && str.indexOf('@@') == -1 && lastDotPos > 2 && (str.length - lastDotPos) > 2);
		}

	});

</script>
{% endblock %}
