
.icon-logo:before { content: '\e800'; } /* '' */
.icon-recent:before { content: '\e801'; } /* '' */
.icon-ticket:before { content: '\e802'; } /* '' */
.icon-calendar:before { content: '\e803'; } /* '' */
.icon-alert:before { content: '\e804'; } /* '' */
.icon-search:before { content: '\e805'; } /* '' */
.icon-close:before { content: '\e807'; } /* '' */
.icon-star:before { content: '\e808'; } /* '' */
.icon-back:before { content: '\e809'; } /* '' */
.icon-dot:before { content: '\e80a'; } /* '' */
.icon-heart:before { content: '\e80b'; } /* '' */
.icon-user:before { content: '\e80c'; } /* '' */
.icon-share:before { content: '\e80e'; } /* '' */
.icon-th-list-2:before { content: '\e810'; } /* '' */
.icon-facebook:before { content: '\e811'; } /* '' */
.icon-twitter:before { content: '\e812'; } /* '' */
.icon-mail:before { content: '\e813'; } /* '' */