@font-face { font-family:"Concourse C3"; src:url("/static/showgrid/fonts/Concourse C3 Regular.ttf") format("truetype"); }
@font-face { font-family:"Concourse C3"; src:url("/static/showgrid/fonts/Concourse C3 Bold.ttf") format("truetype"); font-weight:bold; }
@font-face { font-family:"Concourse C6"; src:url("/static/showgrid/fonts/Concourse C6 Regular.ttf") format("truetype"); }

@-webkit-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@-moz-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@keyframes fadeIn { from { opacity:0; } to { opacity:1; } }

.sharpen {
	-webkit-font-smoothing: antialiased;
	-moz-font-smoothing: antialiased;
	font-smoothing: antialiased;
	text-rendering: optimizeLegibility;
	font-smooth: always;
	-moz-osx-font-smoothing: grayscale; 
}
table { width:100%; }

section { width:100%; display:inline-block; z-index:2; }

table td:first-of-type { width:16%; text-align:center; padding:20px 0; }
table td:not(:first-of-type) { width:12%; padding:20px 0 20px 0; }

thead td:not(:first-of-type) { padding:10px 25px 10px 10px; }

thead { border-bottom:1px double  #343434; background:#343434; }
thead tr { position:relative; display:block; background:#454545; }
thead td { font-family:'Concourse C3'; text-transform:uppercase; color:#ededed; text-shadow:1px 1px 0px black; 
	-webkit-font-smoothing: antialiased;
	-moz-font-smoothing: antialiased;
	font-smoothing: antialiased;
	text-rendering: optimizeLegibility;
	font-smooth: always;
	-moz-osx-font-smoothing: grayscale;
}

tbody { display:block; overflow:auto; height:592px; width:100%; }
tbody tr:nth-child(odd) {}
tbody tr:nth-child(even) {background:rgba(0,0,0,0.05);}

tbody td:first-of-type { padding:20px; }

.venue .name { font-family:'Concourse C3'; font-size:12pt; color:#343434; }
.venue .address { font-family:'Concourse C3'; font-size:8pt; color:#aaa; }

.show { position:relative; padding:15px 12px; }
.artist { font-family:'Concourse T7'; color:#5994c5; text-transform:uppercase; font-weight:bold; font-size:11pt; letter-spacing:.1em;  }
.time { font-family:'Concourse T3'; color:#aaa; font-size:8pt; position:absolute; top:2px; left:5px; }

.pic { width:70px; height:70px; margin:0px auto; border-radius:50px; }
.pic.thirdandl { background:url('img/venues/thirdandl.jpg'); background-size:90px 90px; background-position:-10px -14px; }
.pic.twelveporter { background:url('img/venues/twelveporter.jpg'); background-size:90px 90px;  background-position:1px -9px; }
.pic.exitin { background:url('img/venues/exitin.jpg'); background-size:100px 100px; background-position:-18px -22px; }
.pic.marathon { background:url('img/venues/marathon.jpg'); background-size:100px 100px; background-position:-18px 0px; }
.pic.basement { background:url('img/venues/basement.jpg'); background-size:80px 80px; background-position:-5px 0px; }
.pic.rutledge { background:url('img/venues/rutledge.jpg'); background-size:70px 70px; background-position:4px 0px; }
.pic.mercylounge { background:url('img/venues/mercylounge.jpg'); background-size:70px 70px; background-position:0px 0px; }
.pic.highwatt { background:url('img/venues/highwatt.jpg'); background-size:70px 70px; background-position:0px 0px; }
.pic.bluebird { background:url('img/venues/bluebird.jpg'); background-size:70px 70px; background-position:0px 0px; }
.pic.theend { background:url('img/venues/theend.jpg'); background-size:70px 70px; background-position:0px -5px; }
.pic.listeningroomcafe { background:url('img/venues/listeningroomcafe.jpg'); background-size:70px 70px; background-position:2px -1px; }
.pic.hardrockcafe { background:url('img/venues/hardrockcafe.jpeg'); background-size:70px 70px; background-position:0px -1px; }
.pic.douglascorner { background:url('img/venues/douglascorner.jpg'); background-size:70px 70px; background-position:0px -1px; }
.pic.wildhorse { background:url('img/venues/wildhorse.jpg'); background-size:70px 70px; background-position:0px -1px; }
.pic.grandoleopry { background:url('img/venues/grandoleopry.jpg'); background-size:70px 70px; background-position:0px -1px; }
.pic.ryman { background:url('img/venues/ryman.jpg'); background-size:70px 70px; background-position:0px -1px; }
.pic.bridgestone { background:url('img/venues/bridgestone.jpg'); background-size:70px 70px; background-position:0px -1px; }
.pic.belcourttaps { background:url('img/venues/belcourttaps.jpeg'); background-size:70px 70px; background-position:0px -1px; }
.pic.pucketts { background:url('img/venues/pucketts.jpg'); background-size:70px 70px; background-position:0px -1px; }
.pic.loveless { background:url('img/venues/loveless.jpg'); background-size:70px 70px; background-position:-6px -1px; }
.pic.stonefox { background:url('img/venues/stonefox.jpg'); background-size:70px 70px; background-position:0px -1px; }
.pic.zanies { background:url('img/venues/zanies.jpg'); background-size:70px 70px; background-position:0px -1px; }
.pic.stationinn { background:url('img/venues/stationinn.jpg'); background-size:70px 70px; background-position:0px -1px; }

header {
	width:100%;
	background-image: url('img/nashville.png');
	background-size:400px;
	background-repeat:no-repeat;
	background-position:-20px 6px;

	padding:13px 0;
	text-align:center;
}

.head--title {
	color:#343434;
	font-size:18pt;

	letter-spacing:0.45em;

	font-family:'Concourse C7';
}

.smaller {
	font-family:'Concourse C3';
}

div.new-venue { display:none; }

section table td.new-venue { font-family:"Concourse C6"; display:none; padding:0 0 100px 0; }
section table td.new-venue div.share { padding:20px 150px 50px 150px; }
section table td.new-venue div h3 { font-family:"Concourse C6"; text-transform:uppercase; font-weight:bold; text-align:center; }
section table td.new-venue div p { font-family:"Concourse C3"; font-size:11pt; text-align:left; }

section table td.new-venue .sign-up { font-family:"Concourse C3"; font-size:14pt; }
section table td.new-venue .sign-up label { font-size:11pt; font-weight:lighter; text-transform:uppercase;  }
section table td.new-venue .sign-up input[type=email] { border:1px solid #aaa; padding:2px 5px; font-family:'Helvetica'; }
section table td.new-venue .sign-up input[type=submit] { position:relative; border:none; color:white; background:#7fd2a5; padding:3px 22px; text-transform:uppercase; top:0px;  }
section table td.new-venue .sign-up input[type=submit]:hover { background:#59c58a; }


