{% load inlinecss %}
{% inlinecss "mail_style.css" %}
<html>

	<body>
		
		<div class = 'header'>
			<a href = '{{issue_link}}'><h1>
				Showdigest
			</h1></a>
			<h4> Issue # {{ name }} </h4>
		</div>
		<div class = 'article'>
			<div class = 'article_summary'>
				<p>
					{{ article.summary }}
				</p>
			</div>
			<div class = 'playlist'>
				<a href = '{{issue_link}}'><div class = 'play_button' ></div><a class = 'play_button_text' href = '{{issue_link}}'>play the tracks</a></a>
			</div>
		</div>
		{% for show in shows %}
			<div class='show'>
				<div class = 'date'>
					<div class = 'day'> {{show.date_day}} </div>
					<div class = 'date_number'> {{show.date_number}} </div>
					<div class = 'month'> {{show.date_month}} </div>
					<div class = 'date_time'><p>{{ show.date_time }}</p></div>
				</div>
				<div class = 'show_title'>
					<!-- {{ show.title }} -->
					<p>
						<a href = '{{show.link}}' class = 'show_openers'> {{ show.openers }}</a>
						<a href = '{{show.link}}' class = 'show_headliners'> {{ show.headliners }}</a>
					</p>
					
				</div>
				<div class = 'show_info'>
						<a href = '{{show.venue_link}}'><div class = 'info_item venue_name' style='color: {{show.venue_secondary}}; background: {{show.venue_primary}}; border-color:#fff;'>
							{{ show.venue_name }}
						</div></a >
						<div class = 'info_item age_string'>
							{{ show.age_string }}
						</div>
						<div class = 'info_item '>
							
						</div>
					</div>		
				</div>
			</div>
		{% endfor %}
		<div class = 'footer'>
			<a href = '{{unsub_link}}'  class = 'unsubscribe'> unsubscribe </a>
			<span>© 2015 Showgrid, Nashville, TN<span>
		</div>
		
		
		
	</body>

</html>
{% endinlinecss %}