app/server/*.pyc
app/server/wsgi.py
app/server/settings.py

app/static/showgrid/js/bundle.js
app/static/showgrid/css/base.css
app/static/showgrid/css/base.css.map

app/client/.sass-cache/*
app/client/public/.sass-cache/*
app/client/node_modules/**
app/client/public/js/bundle.js
app/client/public/css/base.css
app/client/public/css/base.css.map

assets/**