
app/server/*.pyc
app/server/wsgi.py
app/server/settings.py
app/server/migrations
app/server/whoosh_index/*

app/media/**

app/static/**
app/static/showgrid/js/*
app/static/showgrid/css/*
app/static/showgrid/css/webfonts/*

app/client/.sass-cache/*
app/client/public/.sass-cache/*
app/client/node_modules/**
app/client/public/js/*
app/client/public/css/*.css.map

assets/**
**/**/*.pyc
**/**/.DS_Store

**/**/node_modules
**/**/npm-debug.log
