<html>
	<div> thanks for entering the contest! </div>

	<p>
		Send this to your friends via text, when they click on the shared link and signup, your chances of winning are increased
		<br>
		<a href='mailto:?Subject=your%20friend%20invited%20you%20to%20showgrid&body=your%20friend%20{{email}}%20invited%20you%20to join%20showgrid,%20check%20it%20out%20and%20get%20a%20chance%20to%20win%20free%20tickets%20to%20a%20show%20in nashville!%20{{link}}'>share with email</a>
		<br>
		
		<a href='sms:?body=your%20friend%20{{email}}%20invited%20you%20to join%20showgrid,%20check%20it%20out%20and%20get%20a%20chance%20to%20win%20free%20tickets%20to%20a%20show%20in nashville!%20{{link}}'>share with text</a>
	</p>
</html>