.calendar__row {
	display:-webkit-flex;
	display:		flex;

	width:100%;

	border-bottom:1px solid #efefef;
}

.calendar__row > div {
	padding:40px 0;
}

.calendar__row.mini > div {
	padding:10px 0;

	height:80px;
}

@media screen and (max-width: 500px ) {
	.calendar__row {
		border-bottom:none;
	}

	.calendar__row:nth-child(even) {
		background-color:#fcfcfc;
	}

}

@import "calendar__row__venue";
@import "calendar__row__day";