.calendar__row {
	.venue {
		position:relative;

		font-size:16px;

		-webkit-flex:0 0 13em;
				flex:0 0 13em;

		display:-webkit-flex;
		display:  		flex;

		-webkit-align-items:center;
				align-items:center;

		padding:10px 0;

		overflow:hidden;

		text-align:center;
	}

	img {
		height:auto; width:120%;

		opacity:0.25;
	}
		

	.overlay {
		position:absolute;
		top:0; left:0;

		width:100%; height:100%;

		.name {
			width:100%; height:35%;

			margin:10px 0;

			font-size:18px;
			text-align:center;
		} 



		.name a {
			color:#555;
			font-weight:700;
			text-decoration:none;
		}

		.name a:hover {
			text-decoration:underline;
		}

		.address {
			position:absolute;
			bottom:0; left:0;

			width:100%;

			margin:10px 0;
			padding-top:30%;

			text-align:center;
			font-size:12px;
			color:#aaaaaa;
		}
	}
}

.calendar__row.mini {
	.venue {
		padding:10px 0;
	}
	img {
		display:none;
	}



	.overlay {
		position:relative;
		height:auto;

		.name {
			margin:5px 0;

			font-size:14px;
		}

		.name a {
			color:#666666;
		}

		.address {
			position:relative;

			margin:5px 0;
			padding-top:0;

			font-size:10px;
			color:#afafaf;
		}
	}
	
} 

@media screen and (max-width: 500px ) {
	.calendar__row {
		.venue {
			-webkit-flex:0 0 42.5%;
					flex:0 0 42.5%;
		}
	}
}

@import "venue--img";