.calendar--row {
	.day {
		display: -webkit-flex;
		display: 		 flex;

		-webkit-flex:1 0 8em;
				flex:1 0 8em;

		-webkit-flex-direction: column;
				flex-direction: column;

		margin:auto;

		padding:12px 0 12px 0.5em;
	}
}

@import "calendar--row__day--show";