.calendar__row {
	.venue {
		display:-webkit-flex;
		display:		flex;

		-webkit-align-items:center;
  				align-items:center;
		
		-webkit-justify-content:center;
  				justify-content:center;

		font-size:16px;

		padding-left:0.2em;
		padding-right:0.2em;

		-webkit-flex:0 1 10em;
				flex:0 1 10em;
	}

	.venue .name {
		margin:20px 0 5px 0;

		font-size:18px;
		text-align:center;
	} 

	

	.venue .name a {
		color:#555;
		font-weight:700;
		text-decoration:none;
	}

	.venue .name a:hover {
		text-decoration:underline;
	}

	.venue .address {
		text-align:center;
		font-size:12px;
		color:#aaaaaa;
	}
}

.calendar__row.mini {
	.venue {
		padding:10px 0.2em;
	}

	.venue .name {
		margin:0 0 5px 0;

		font-size:14px;
	}

	.venue .name a {
		color:#666666;
	}

	.venue .address {
		font-size:10px;
		color:#afafaf;
	}
} 

@import "venue--img";