.calendar--row {
	width:100%;

	display: -webkit-flex;
	display: 		 flex;

	padding:15px 0;
}

.calendar--row:nth-child(odd) {
	background: $table-row-bg;
}

@import "calendar--row__venue";
@import "calendar--row__day";