.calendar__row .day {
	.show {
		padding:20px 7px;
	}
}

.calendar__row .day {
	.show {

		a {
			color:#333;
			text-decoration:none;
		}

		a:hover {
			text-decoration:none;
		}

		a:hover .main {
			text-decoration:underline;
		}

		a:hover .extra {
			text-decoration:underline;
		}

		.time {
			font-size:13px;
			color:#aaaaaa;
		}

		.free {
			background:#b9b9b9;

			margin:0 0 0 10px;
			padding:1px 4px;

			border-radius:1px;

			font-size:10px;
			color:#f9f9f9;
		}

		.age {
			background:#d5d5d5;

			margin:0 0 0 10px;
			padding:1px 4px;

			border-radius:1px;

			font-size:10px;
			color:#ffffff;
		}

		.title {
			margin:5px 0 0 0;

			color:#666666;
			font-size:14px;
			font-weight:300;
		}

		.main {
			margin:5px 0 0 0;

			font-size:18px;
			font-weight:700;

			b {
				position:relative;
				top:-2px;

				margin:0 3px 0 0;

				color:rgb(251, 191, 0);
				font-size:18px
			}
		}

		.extra {
			margin:5px 0 0 0;

			color:#898989;
			font-size:12px;
			font-weight:300;

			line-height:16px;
		}

		.actions {
			width:100%;

			padding:4px 0;

			font-size:24px;

			.icon-bell {
				color:rgb(255,0,53);
			}

			.icon-heart {
				color:rgb(134,195,0);
			}
		}

		.ticket {
			width:85%;

			margin:15px 0 0 0;
			padding:8px;

			color:rgb(0,222,144);
			font-size:16px;
			font-weight:300;

			text-align:left;

			border:1px solid rgb(0,222,144);
			border-radius:1px;

			cursor:pointer;

			-webkit-transition: all .2s ease;
			   -moz-transition: all .2s ease;
				 -o-transition: all .2s ease;
					transition: all .2s ease;
		}

		.ticket:hover {
			background:rgb(0,222,144);
			color:#ffffff;
		}

		.soldout {
			width:85%;

			margin:10px 0 0 0;
			padding:5px 8px;

			color:rgb(255,99,99);
			font-size:16px;
			font-weight:300;

			text-align:center;

			border:1px solid rgb(255,99,99);
			border-radius:1px;

			cursor:pointer;

			-webkit-transform: rotate(-4deg);
			   -moz-transform: rotate(-4deg);
				-ms-transform: rotate(-4deg);
				 -o-transform: rotate(-4deg);
					transform: rotate(-4deg);

			-webkit-transition: all .2s ease;
			   -moz-transition: all .2s ease;
				 -o-transition: all .2s ease;
					transition: all .2s ease;
		}

		.price {
			position:relative;
			top:-2px;

			float:right;

			font-size:18px;
			font-weight:400;
		}

		.onsale:hover {
			background:rgb(0,222,144);
			color:#ffffff;
		}

		.onsale {
			width:85%;

			margin:15px 0 0 0;
			padding:8px;

			color:rgb(0,222,144);
			font-size:14px;
			font-weight:300;

			text-align:center;

			border:1px solid rgb(0,222,144);
			border-radius:1px;

			cursor:pointer;

			-webkit-transition: all .2s ease;
			   -moz-transition: all .2s ease;
				 -o-transition: all .2s ease;
					transition: all .2s ease;
		}

		.onsale {
			.date {
				font-size:16px;
				font-weight:400;
			}
		}
	}

}	

@media screen and (max-width: 500px ) {
	.calendar__row .day {
		.show {
			.ticket {
				border:1px solid rgb(0,222,144);
				color:rgb(0,222,144);
			}

			
			.age {
				background:#d5d5d5;
			}

		}
	}
}