.calendar--row {
	.day {
		.show{
			position:relative;

			margin:10px 0;

			overflow:hidden;
		}

		.show {
			.time {
				position: absolute;
				top: 2px; left: 0px;

				font-size: 8pt;
				color: $show-time-color;
			}

			.artist {
				font-size: 10.5pt;
				font-family: $thick-font;

				color: $show-title-color;

				text-transform: uppercase;

				letter-spacing: .01em;

				padding:15px 0 0 5px;
			}

			.artist a {
				color:$show-title-color;
				text-decoration:none;
			}

			.artist a:hover {
				text-decoration:underline;
			}
		}
	}
}