$title-font-color: 		#343434;			// Title 'SHOWGRID | NASHVILLE' color

$table-head-bg: 		#454545;			// Background of table head with dates
$table-head-text-color:	#ededed;			// Color of text in table head
$table-head-text-shadow:1px 1px 0px #000;	// Text shadow for table head text

$table-row-bg: 			#f3f3f3;			// Alternating color for venue table rows

$venue-title-color:		#343434;			// Color of venue's name
$venue-address-color: 	#aaaaaa;			// Color of venue's address

$show-time-color: 		#aaaaaa;			// Color of show's time
$show-title-color:		#5697d0;			// Color of show's title

$thin-font:				"Concourse C3";
$thick-font:			"Concourse C6";
