@font-face {
  font-family: "Concourse C3";
  src: url('/static/showgrid/css/fonts/Concourse C3 Regular.ttf') format("truetype");
}

@font-face {
  font-family: "Concourse C6";
  src: url('/static/showgrid/css/fonts/Concourse C6 Regular.ttf') format("truetype");
}