#footer {
	display:block;

	padding:0 0.75em 20px 0.75em;

	@include transform(translate(0, 120px));
	@include transition--transform(.3s ease-in-out);
}

body.sleep #footer {
	@include transform(translate(0, 60px));
}

#footer {
	.input--prompt {
		max-width:700px;

		margin:0 auto;
	}

	a {
		color: rgb(0,222,144);
		font-weight:bold;
		text-decoration: none;

		cursor:pointer;
	}

	a:hover {
		color: rgb(0,222,144);
		text-decoration: underline;
	}

	.input--prompt { 
		padding:20px 0 50px 0;
	}

	h3 {
		font-weight:700;
		font-size:24px;
		text-transform:uppercase; 
		font-weight:bold; 

		text-align:center;
	}

	p {
		font-size:12pt; 

		text-align:left;
	}

	.email--form { 
		text-align:center; 
		font-size:14pt;
	}

	.email--form {
		label {
			font-size:11pt; 
			font-weight:lighter; 
			text-transform:uppercase;
		}

		input[type=email] { 
			display:none;
			padding:2px 5px; 

			margin:0 8px;

			border:1px solid #aaa; 
			font-family:'Helvetica'; 
		}
		
		input[type=submit] {
			margin:15px 0 0 0;
			padding:8px 20px;

			color:rgb(0,222,144);
			font-size:18px;
			font-weight:300;

			text-align:left;

			border:1px solid rgb(0,222,144);
			border-radius:1px;
			background:none;

			cursor:pointer;

			@include transition(all 0.3s);
		}

		input[type=submit]:hover { 
			background:rgb(0,222,144);
			color:#ffffff;
		}
	}

	.footer--copy {
		width:100%;

		padding:60px 0 0 0;

		text-align:center;
	}

	.footer--copy {
		span {
			font-size:10pt;
			color:#999999;
		}
	}
}

@media screen and (max-width: 500px ) {
	#footer {
		@include transform(translate(0, 70px));
	}

	body.sleep #footer {
		@include transform(translate(0, 0));
	}
}
