#grid--fixed--container {
	position:fixed;

	width:100%; height:120px;

	background:#fff;

	z-index:5;
}

header {
	width:100%; height:60px;

	text-align: left;
}

header {
	a {
		text-decoration: none;
		color: $title-font-color;
	}
}

.head--title {
	@include sharpen--text;

	font-size: 28pt;
	line-height:60px;

	margin:0px 30px;

	letter-spacing:-0.1em;
}

@media screen and (min-width: 450px ) {
	header {
		@include background-size(400px);

		background-image: 	url('../img/nashville--skyline.png');
		background-repeat: 	no-repeat;
		background-position:70px 6px;
	}

	.head--title {
		margin:0px 60px;
	}
}