#header__page {
	position:relative;

	width:94%; height:60px;

	margin:0px auto;
}

#header__page--logo {
	display:inline-block;

	width:200px; height:100%;

	background-image:url('../img/showgrid--mark.gif');
	background-repeat:no-repeat;
	background-position:0 15px;
	background-size:200px;
}

#header__page--location {

	margin:0 0 0 20px;

	vertical-align:top;
	line-height:65px;

	text-transform:uppercase;
	font-weight:300;
	font-size:112.5%;
}

#header__page--search {
	position:absolute;
	top:0; right:0;

	height:100%;

	line-height:60px;
}

#header__page--search {
	input.search[type=text] {
		width:250px;

		padding:5px 8px;

		font-size:16px;

		border:1px solid #e5e5e5;
		border-radius:1px;
	}

	input[type=text].search:focus {
		border:1px solid #5697d0;
		outline:none;
	}


	input.search[type=submit] {
		position:absolute;
		top:20px; right:10px;

		width:20px; height:20px;

		background-repeat:no-repeat;
		background-image: url('../img/search.gif');
		background-size:20px;

		background-color:transparent;
		border:0;

		opacity:0.5;

		cursor:pointer;
	}

	input.search[type=submit]:hover {
		opacity:1;
	}
}

@media screen and (max-width: 500px ) {
	#header__page--logo {
		position:absolute;
		width:50px; height:100%;

		padding:0 20px;

		background-image:url('../img/showgrid--logo.gif');
		background-repeat:no-repeat;
		background-position:15px;
		background-size:30px;
	}

	#header__page--location {
		display:inline-block;
		
		width:100%;
		
		margin:0;
		
		text-align:center;
	}

	#header__page--search {
		input.search[type=text] {
			display:none;
		}


		input.search[type=submit] {
			position:absolute;
			top:20px; right:10px;

			width:30px; height:30px;

			background-repeat:no-repeat;
			background-image: url('../img/search.gif');
			background-size:30px;

			background-color:transparent;
			border:0;

			opacity:0.5;

			cursor:pointer;
		}

		input.search[type=submit]:hover {
			opacity:1;
		}
	}
}