#header__page {
	position:relative;

	width:94%; height:64px;

	margin:0px auto;
}

#header__page--logo {
	display:inline-block;

	width:200px; height:100%;

	background-image:url('../img/showgrid--mark.gif');
	background-repeat:no-repeat;
	background-position:0 15px;
	background-size:200px;
}

#header__page--location {

	margin:0 0 0 20px;

	vertical-align:top;
	line-height:65px;

	text-transform:uppercase;
	font-weight:300;
	font-size:112.5%;
}

.header__page--options-mobile {
	display:none;
}

.header__page--options {
	position:absolute;
	top:0; right:0;

	height:100%;

	padding:12px 0;

	display:inline-block;
}

#header__page--search {
	display:none;

	position:absolute;
	top:0; right:0;

	height:100%;

	line-height:60px;
}

#header__page--search {
	input.search[type=text] {
		width:270px;

		padding:4px 8px;

		font-size:20px;

		border:1px solid #5697d0;
		border-radius:1px;
	}


	input.search[type=submit] {
		position:absolute;
		top:18px; right:8px;

		width:22px; height:22px;

		background-repeat:no-repeat;
		background-image: url('../img/search.gif');
		background-size:22px;

		background-color:transparent;
		border:0;

		opacity:0.5;

		cursor:pointer;
	}

	input.search[type=submit]:hover {
		opacity:1;
	}
}

@media screen and (max-width: 500px ) {
	#header__page {
		display:none;
	}

	#header__page--logo {
		position:absolute;
		width:50px; height:100%;

		padding:0 20px;

		background-image:url('../img/showgrid--logo.gif');
		background-repeat:no-repeat;
		background-position:15px;
		background-size:30px;
	}

	#header__page.active #header__page--logo {
		display:none;
	}

	#header__page--location {
		display:inline-block;
		
		width:100%;
		
		margin:0;
		
		text-align:center;
	}

	#header__page.active #header__page--location {
		display:none;
	}

	#header__page--search {
		input.search[type=text] {
			display:none;
		}


		input.search[type=submit] {
			position:absolute;
			top:20px; right:10px;

			width:30px; height:30px;

			background-repeat:no-repeat;
			background-image: url('../img/search.gif');
			background-size:30px;

			background-color:transparent;
			border:0;

			opacity:0.5;

			cursor:pointer;
		}

		input.search[type=submit]:hover {
			opacity:1;
		}
	}

	.header__page--options-mobile {
		display:block;

		position:absolute;
		right:0; top:0;

		width:50px; height:64px;

		text-align:center;

		z-index:99;
	}

	.header__page--options-mobile b {
		font-size:32px;

		line-height:64px;
	}


	.header__page--options {
		display:none;
	}

	#header__page.active .header__page--options {
		display:block;

		left:0;

		width:auto;

		text-align:left;
	}
}

@import "header__page--options";