#header__calendar {

	.day {
		-webkit-flex:1 0 170px;
				flex:1 0 170px;

		color:rgba(255,255,255,0.9);
		text-align:center;
	}

	.day span {
		font-size:87.5%;
		text-transform:uppercase;
		font-weight:300;
	}

}