#header--table {
	width:100%; height:50px;

	display: -webkit-flex;
	display: 		 flex;

	background: $table-head-bg;
}

#header--table {

	.cell {
		display: -webkit-flex;
		display: 		 flex;
	}

	.cell {
		span {
			@include sharpen--text;

			margin:auto;
			

			font-size:10pt;

			text-transform: uppercase;
			color: $table-head-text-color;
			text-shadow: $table-head-text-shadow;
		}
	}


	 ///////////////////////////
	// 'Venue' table head label
	.cell:first-of-type {
		-webkit-flex:0 0 12em;
				flex:0 0 12em;

		text-align:center;
	}

	@media screen and (max-width: 320px ) {
		.cell:first-of-type {
			-webkit-flex:0 0 10em;
					flex:0 0 10em;
		}
	}
}

@import "header--calendar__day";