#header {
	position:fixed;
	top:0; left:0;

	width:100%;
	
	z-index:99;
	z-index:100;

#header.hidden {
	display:none;
}

}

@import "header__page";
@import "header__calendar";
@import "header__search";
@import "header__mobile";
