#header__logo {
	-webkit-flex:1 1 10%;
			flex:1 1 10%;

	text-align:left;

	.logo {
		display:inline-block;

		width:150px; height:55px;

		background-image:url('../img/showgrid--mark-white.png');
		background-repeat:no-repeat;
		background-position:0 10.5px;
		background-size:150px;

		#container.splash & {
			background-image:url('../img/showgrid--mark-black.png');
		}
	}

	.location {
		position:relative;
		top:5px;

		margin:0 0 0 20px;

		vertical-align:top;
		line-height:55px;

		color:rgba(255,255,255,0.8);
		font-size:90%;
		font-weight:300;
		text-transform:uppercase;

		#container.splash & {
			color:rgba(0,0,0,0.8);
		}
	}

	.page-title {
		display:none;
	}
}	

@media screen and (max-width: 500px ) {
	#header__logo {
		display:none;

	    -webkit-flex:1 1 30px;
				flex:1 1 30px;

		.logo {
			width:40px; height:40px;

			background-image:url('../img/showgrid--logo-white.png');
			background-position:6px 8px;
			background-size:40px;
		}

		.location {
			display:none;
		}

		.page-title {
			display:inline;

			position:relative;
			top:-12px;

			color:rgba(255,255,255,1);
			font-size:75%;
			font-weight:300;
			text-transform:uppercase;
		}
	}
}