#header__options {
	-webkit-flex:1 1 auto;
			flex:1 1 auto;

	text-align:right;

	display:-webkit-flex;
	display:		flex;

	-webkit-justify-content:flex-end;
			justify-content:flex-end;

	-webkit-align-items:center;
			align-items:center;
}

@media screen and (max-width: 500px ) {
	#header__options {
		-webkit-flex:1 1 100%;
				flex:1 1 100%;

		-webkit-justify-content:center;
				justify-content:center;

		height:100%;
	}
}

@import "header__option";