.list--item {
	width:100%;

	margin-bottom:10px;

	background:#ffffff;

	border-radius:2px;

	-webkit-box-shadow:0 2px 3px rgba(0,0,0,0.05);
			box-shadow:0 2px 3px rgba(0,0,0,0.05);



	header {
		position:relative;

		padding:7px;

		border-radius:2px 2px 0 0;

		.pic {
			position:absolute;
			top:0; left:0;

			width:100%; height:5px;
		}

		h4 {
			display:inline;

			margin-top:5px;
			margin-left:10px;
			margin-right:20px;

			font-size:16px;
		}
		
		span.age {
			position:relative;
			top:-2px;

			padding:4px 6px;
			margin-right:10px;

			color:#ffffff;
			font-size:10px;
			line-height:33px;


			background:rgba(0,0,0,0.25);
			border-radius:1px;
		}

		span.price {
			position:relative;
			top:-2px;

			padding:4px 6px;

			color:#ffffff;
			font-size:10px;
			line-height:33px;

			background:rgba(0,0,0,0.35);
			border-radius:1px;
		}
	}



	div.info {
		display:-webkit-flex;
		display:		flex;

		-webkit-align-items:center;
				align-items:center;

		padding:30px 0 40px;

		a {
			text-decoration:none;
		}

		a:hover h3,
		a:hover h4,
		a:hover h5 {
			text-decoration:underline;
		}


		.date {
			-webkit-flex:0 0 110px;
					flex:0 0 110px;

			color:#323232;
			font-weight:300;

			text-align:center;


			div:first-of-type {
				font-size:14px;
				font-weight:400;
				text-transform:uppercase;
			}

			div:last-of-type {
				font-size:24px;
			}
		}

		.artists {
			-webkit-flex:1 1 200px;
					flex:1 1 200px;

			padding:0 35px;
		
			span.time {
				margin-left:-5px;

				color:#898989;
				font-size:14px;
			}


			h3, h4, h5 {
				margin:5px 0;
			}

			h3 {
				margin:7px 0;

				color:#222222;
				font-size:22px;
				font-weight:500;

				b.rec {
					margin-right:8px;

					color:#FBBF00;
					font-size:24px;
				}	
			}

			h4 {
				color:#222222;
				font-size:14px;
				font-weight:normal;	
			}

			h5 {
				color:#626262;
				font-size:14px;
				font-weight:normal;	
			}
		}
	}



	footer {
		display:-webkit-flex;
		display:		flex;

		-webkit-align-items:center;
				align-items:center;


		padding:8px 15px 15px;

		border-radius:0 0 5px 5px;


		div.all {
			-webkit-flex:0 0 150px;
					flex:0 0 150px;

			a.ticket {
				display:block;

				color:rgb(0,222,144);
				font-weight:400;
				text-decoration:none;

				@include transform(scale(1));
				@include transition(all 0.2s ease);


				b {
					margin-right:10px;

					font-size:22px;
				}

				&:hover {
					@include transform(scale(1.1));
				}
			}

			.soldout {
				margin:0;
				padding:5px 20px;

				color:rgb(255,99,99);
				font-size:14px;
				font-weight:bold;

				text-align:center;

				border:2px solid rgb(255,99,99);
				background:transparent;
				border-radius:2px;

				cursor:pointer;
			}
		}


		div.user {
			text-align:right;

			-webkit-flex:1 1 150px;
					flex:1 1 150px;

			b {
				position:relative;

				margin-left:10px;

				color:rgba(0,0,0,0.2);
				font-size:22px;

				cursor:pointer;
			}

			b.icon-alert.active {
				color:#ff9929;
			}

			b.icon-heart.active {
				color:#fc3030;
			}
		}
	}
}


@media screen and (max-width: 500px ) {
	.list--item {
		border-radius:0;

		header {
			border-radius:0;
		}

		div.info {
			padding:25px 10px 35px;

			.artists {
				h3 {
					font-size:20px;
				}

				h4 {
					font-size:12px;
				}

				h5 {
					font-size:12px;
				}
			}

			.date {
				-webkit-flex:0 0 55px;
						flex:0 0 55px;


				div:first-of-type {
					font-size:12px;
				}

				div:last-of-type {
					font-size:20px;
				}
			}
		}
	}
}


@import "review";