#list {
	margin:0 auto;

	padding-top:45px;

	width:800px;

	& > p {
		margin-top:30px;
		margin-bottom:50px;

		padding:25px 20px;

		font-size:20px;
		font-weight:300;
		line-height:28px;

		background:#ffffff;
		border-radius:2px;

		-webkit-box-shadow:0 2px 3px rgba(0,0,0,0.05);
				box-shadow:0 2px 3px rgba(0,0,0,0.05);

		a {
			color:#222222;
			text-decoration:none;
		}

		a:hover {
			text-decoration:underline;
		}
	}

	& > h3 {
		position:relative;

		margin:80px 0 30px 0;

		color:#9a9a9a;
		font-size:28px;
		font-weight:300;
		text-align:center;
		text-transform:uppercase;
	}

	& > h4.noshows {
		margin-top:100px;

		color:#9a9a9a;
		font-size:28px;
		font-weight:bold;
		text-align:center;
	}

	& > h3:first-of-type {
		margin-top:40px;
	}

	&.search-list-full {
		padding-top:50px;


		.fail {
			font-size:18px;
			text-align:center;
		}

		h4.query {
			color:rgba(0,0,0,0.5);
			font-weight:200;
		}
	}

	.list-paginator {
		width:100%;

		margin-top:40px;
		padding:15px 0;

		text-align:center;

		cursor:pointer;
	}

	.list-paginator:hover {
		text-decoration:underline;
	}
}

@media screen and (max-width: 900px ) {
	#list {
		width:95%;
	
		& > h3 {
			left:0;

			font-size:28px;
			text-align:center;
		}
	}
}

@media screen and (max-width: 500px ) {
	#list {
		& > h3 {
			font-size:16px;
			text-align:left;

			margin-top:20px !important;
			margin-bottom:20px !important;
		}

		& > h3:not(:first-of-type) {
			margin-top:60px !important;
			margin-bottom:20px !important;
		}

		&.search-list-full {
			margin-top:70px;

			h4 {
				font-weight:normal;
			}
		}

		& > p {
			font-size:14px;
			line-height:18px;
		}
	}
}

@import "list--item";