.recent--day__show__block:last-of-type {
	margin-bottom:80px;
}

.recent--day__show__block {
	margin:0 0 25px 0;

	background:rgba(0,0,0,0.03);


	a {
		text-decoration:none;
	}

	.recent--day__show__info {
		padding:6px 10px;


		.venue, .time, .free, .age {
			margin:0 12px 0 0;
		}

		.time, .free, .age {
			font-weight:300;
		}

		.venue {
			margin:0 24px 0 0;

			font-size:18px;
			font-weight:700;
		}

		.age {
			font-weight:700;
		}
	}


	.recent--day--middle {
		display:-webkit-flex;
		display:		flex;

		-webkit-flex-flow:row nowrap;
				flex-flow:row nowrap;

		-webkit-align-items:center;
				align-items:center;


		.recent--day__show__date {
			-webkit-flex:0 0 80px;
					flex:0 0 80px;

			padding:0 10px;

			text-align:center; 

			div:first-of-type {
				color:rgba(0,0,0,0.7);
				font-size:18px;
				font-weight:300;
				text-transform:uppercase;
			}

			div:last-of-type {
				color:rgba(0,0,0,0.6);
				font-size:32px;
			}
		}

		.recent--day__show__bands {
			-webkit-flex:1 1 300px;
					flex:1 1 300px;

			padding:30px 25px 30px 25px;

			.title {
				color:rgba(0,0,0,0.7);
				font-size:16px;
				font-weight:300;
			}

			.headliner {
				color:rgba(0,0,0,0.9);
				font-size:28px;
				font-weight:bold;
			}

			.opener {
				color:rgba(0,0,0,0.8);
				font-size:18px;
				font-weight:300;
			}
		}
	}
	

	.recent--day__show__actions {
		position:relative;

		text-align:right;

		.button.ticket {
			display:inline-block;

			width:auto; height:42px;

			margin:0;
			padding:0 25px;

			color:#ffffff;
			background:rgb(0,222,144);

			border-radius:1px 1px 0 1px;

			cursor:pointer;

			line-height:42px;


			.price {
				margin:0 0 0 15px;

				font-size:18px;
				font-weight:400;

				line-height:42px;
			}
		}

		.ticket:hover {

		}

		.soldout {
			display:inline-block;

			width:auto; height:42px;

			margin:0;
			padding:0 25px;

			color:#ffffff;
			background:rgb(255,99,99);

			border-radius:1px 1px 0 1px;

			line-height:42px;
		}

		.onsale {
			display:inline-block;

			width:auto; height:42px;

			margin:0;
			padding:0 25px;

			color:#ffffff;
			background:rgb(0,222,144);

			border-radius:1px 1px 0 1px;

			line-height:42px;

			.date {
				margin:0 0 0 15px;

				font-size:18px;
				font-weight:700;
			}
		}
	}
}


@media screen and (max-width: 500px ) {
	.recent--day__show__block {
		margin:0 0 35px 0;

		.recent--day__show__info {

			.time, .free, .age {
				margin:0 8px 0 0;

				font-size:12px;
			}
		}

		.recent--day--middle {
			.recent--day__show__date {
				-webkit-flex:0 0 60px;
						flex:0 0 60px;

				div:first-of-type {
					font-size:16px;
				}

				div:last-of-type {
					font-size:24px;
				}
			}

			.recent--day__show__bands {
				-webkit-flex:1 1 300px;
						flex:1 1 300px;

				padding:20px 15px 20px 15px;

				.title {
					font-size:14px;
				}

				.headliner {
					font-size:20px;
				}

				.opener {
					font-size:16px;
				}
			}
		}

		.recent--day__show__actions {
			border-radius:0;

			border-bottom:none;

			.num_favorites {
				display:none;
			}

			.button {
				width:30px;
			}

			.button.ticket,
			.onsale,
			.soldout {
				margin:0;

				font-size:14px;
			}

			.button.alert,
			.button.favorite {
				width:50px; height:50px;

				padding:0; margin:0;

				text-align:center;

				b {
					font-size:24px;
					line-height:50px;
				}
			}
		}
	}
}
