.recent--day {
	margin:0 0 80px 0;

	h2 {
		margin:0 0 8px 0;

		color:rgba(0,0,0,0.6);
		font-size:28px;
		font-weight:700;
	}
}

@media screen and (max-width: 500px ) {
	.recent--day {
		h2 {
			margin:8px 0 20px 0;
		
			font-size:22px;
			text-align:center;
		}
	}
}