.list--item {
	article {


		margin-bottom:20px;
		padding:15px 40px 5px 40px;


		img {
			width:300px;

		    float: left;
		    margin: 0 20px 10px 0;
		}

		p {
			margin-top:0;

			font-size:18px;
		    text-align: justify;
		}
	}
}


@media screen and (max-width: 500px ) {
	.list--item {

		article {
			padding:15px 30px 5px;

			img {
				width:100%;
				margin-bottom:30px;
			}
		}
	}
}