.search--results {
	width:800px;

	margin:110px auto;
}

.search__no--results {
	text-align:center;

	font-size:24px;
	font-weight:700;

	padding:100px 0;
}

@media screen and (max-width: 800px ) {
	.search--results {
		margin:100px auto;

		width:92.5%;
	}
}

@import "search--results__row";
@import "search--results__show";