.to--calendar {
	position:absolute;
	top:0px; right:40px;
	
	width:60px; height:60px;

	z-index:99;

	cursor:pointer;
	opacity:0.7;

	background-image: 	url('../img/close.gif');
	background-repeat:	no-repeat;
	background-position:18px;
	
	@include background-size(24px);

}

.to--calendar:hover {
	opacity:1;
}


.search--container {
	overflow:scroll;
}

input[type="text"], input[type="email"], input[type="search"], input[type="password"] {
	-webkit-appearance: none;
	-moz-appearance: none; /* mobile firefox too! */
}

.search--bar {
	position:fixed;
	top:0;

	width:100%; height:44px;

	padding:8px 0;

	text-align:center;

	background:#ffffff;

	z-index:97;
}

.search--bar__input {
	display:inline-block;
}

#search--bar__date--picker {
	width:auto; height:44px;

	position:relative;
	left:2px;

	vertical-align:bottom;

	border:1px solid #CBCBD2;
	border-right:none;
	border-radius:2px 0 0 2px;
	padding:0 8px;

	background:none;

	font-family:'Helvetica Neue', helvetica, arial, sans-serif;
	font-weight:200;
	font-size:14px;
	color:#b0b0ba;

	@include transition(all 0.3s);
}

#search--bar__date--picker.focused {
	border-color: $show-title-color;
	outline: 0;
}

#search--bar__date--picker:focus {
	border-color: $show-title-color;
	outline: 0;
}

#search--bar__date--picker.picked {
	width:auto;

	font-family:'Helvetica Neue', helvetica, arial, sans-serif;
	font-weight:200;
	font-size:16px;
	color: #26262a;

	background-image:none;
}

#search--bar__date--picker:hover {
	background:#f3f3f3;
}

#search--bar__date--picker.picked:hover {
	background:#f3f3f3;
}

.search--bar__clear {
	width:12px; height: 12px;

	position:relative;
	left:-25px; top:-2px;

	border:none;

	background-image:url('../img/close.gif');
	background-color:transparent;
	background-size:12px;
	background-repeat:no-repeat;

	opacity:0.8;

	visibility:hidden;

	@include transition(all 0.3s);
}

.search--bar__clear.ready {
	visibility:visible;
}

.search--bar__clear:hover {
	opacity:1;
}

.search--bar__text {
	width:420px;

	border: 1px solid #CBCBD2;
	border-left:none;
	border-radius:0 2px 2px 0;

	margin:0 auto;
	padding:10px 15px;

	box-shadow:none;

	font-family:'Helvetica Neue', helvetica, arial, sans-serif;
	font-weight:200;
	font-size:18px;
	color: #3F3F44;

	@include transition(all 0.3s);
}

.search--bar__text.focused {
	border-color: $show-title-color;
	outline: 0;
}

.search--bar__text:focus {
	border-color: $show-title-color;
	outline: 0;
}


.search--bar__button {
	width:auto; height:44px;

	position:relative;

	vertical-align:bottom;

	border:none;
	padding:0 15px;
	margin:0 5px;

	background:none;
	border:1px solid #7fd2a5;
	border-radius:2px;

	font-family:'Helvetica Neue', helvetica, arial, sans-serif;
	font-weight:200;
	font-size:18px;
	color:#7fd2a5;

	@include transition(all 0.3s);
}

.search--bar__button:hover {
	border:1px solid #46be7d;

	background: #f1faf5;

	color:#46be7d;
}




@media screen and (max-width: 400px ) {

	.search--bar {
		display: -webkit-flex;
		display: 		 flex;
	}

	.a__to--calendar {
		-webkit-flex:0 0 3.5em;
				flex:0 0 3.5em;
	}

	.to--calendar {
		position:relative;
		right:0; top:0;

		-webkit-flex:0 0 3.5em;
				flex:0 0 3.5em;

		background-image: 	url('../img/back.gif');
		background-repeat:	no-repeat;
		background-position:15px 6px;

		@include background-size(15px);
	}

	.search--bar__input {
		vertical-align:top;

		display: -webkit-flex;
		display: 		 flex;

		-webkit-flex:1 0 19em;
				flex:1 0 19em;
	}

	#search--bar__date--picker {
		font-size:12px;

		-webkit-flex:1 0 5em;
				flex:1 0 5em;
	}

	#search--bar__date--picker.picked {
		font-size:13px;
	}

	.search--bar__text {
		font-size:15px;

		-webkit-flex:1 0 10em;
				flex:1 0 10em;

		padding:12.5px 10px;
	}

	.search--bar__button {
		margin-left:100000px;
	}

	.search--bar__clear {
		display:none;
	}
}


@import "pikaday";
@import "search--results";