.search__row {
	margin:25px 0;
}

.search__row__venue {
	font-size:18pt;
}

.search__row__venue {
 	a {
 		color:#333333;
		text-decoration:none;
 	}

 	a:hover  {
		text-decoration:underline;
 	}
}


@media screen and (max-width: 400px ) {
	.search__row__venue {
		font-size:14pt;
	}
}