#table--body {

	z-index:4;
}

.table--body--pad {
	height:120px;
}

.table--row {
	width:100%;

	display: -webkit-flex;
	display: 		 flex;

	padding:15px 0;
}

.table--row:nth-child(odd) {
	background: $table-row-bg;
}

.table--row {
	.venue {
		-webkit-flex:0 0 12em;
				flex:0 0 12em;

		padding:12px 0;

		text-align:center;
	}

	@media screen and (max-width: 320px ) {
		.venue {
			-webkit-flex:0 0 10em;
					flex:0 0 10em;
		}
	}

	.venue {
		@media screen and (min-width: 400px ) {
			.pic {
				width:90px; height:90px;

				background-size:100px 100px; 

				margin:10px auto;
				border-radius:45px;
			}
		}	

		.address {
			font-family: 'Concourse C3';
			font-size: 8pt;
			color: $venue-address-color;
		}

	}

	.cell {
		display: -webkit-flex;
		display: 		 flex;

		-webkit-flex:1 0 8em;
				flex:1 0 8em;

		padding:12px 0 12px 0.5em;
	}

	.cell {
		.show{
			position:relative;
		}

		.show {
			.time {
				position: absolute;
				top: 2px; left: 5px;

				font-size: 8pt;
				color: $show-time-color;
			}

			.artist {
				font-size: 11pt;
				font-family: 'Concourse T7';

				color: $show-title-color;

				text-transform: uppercase;
				font-weight: bold;

				letter-spacing: .1em;

				padding:15px 0 0 5px;
			}
		}
	}

}