.toggler {
    width:100px; height:50px;

	margin:0px; 
	
	cursor:pointer;


	.toggler_bar {
		position: absolute;
		top:50%; left:50%;
		
		width:10px; height:10px;

		background:#fff;
		border-radius:50%;

		@include transition--transform(0.3s cubic-bezier(0, 0, 0.03, 1.01));
	}

	.ain {
		@include transform(translate(-50%, -50%));	
	}

	.aout {
		&:nth-child(1){
			@include transform(translate(-195%, -50%));
		}

		&:nth-child(2){
			@include transform(translate(-50%, -50%));
		}

		&:nth-child(3){
			@include transform(translate(95%, -50%));
		}
	}
}