.toggler {
	cursor: pointer;
	margin: 0px; 
	height: 50px;
	width: 100px;
	position: absolute;
    top: 50px;
    left: 50%;
    transform: translate(-50%,0);
    background: rgba(255,255,255,0.2);
	.toggler_bar {
		width: 10px;
		height: 10px;
		border-radius: 50%;
		background: #fff;
		transition: transform 0.3s cubic-bezier(0, 0, 0.03, 1.01);
		position: absolute;
		left: 50%;
		top: 50%;
	}
	.ain {
		transform: translate(-50%,-50%);	
	}
	.aout {
		&:nth-child(1){
			transform: translate(-195%,-50%)
		}
		&:nth-child(2){
			transform: translate(-50%,-50%)
		}
		&:nth-child(3){
			transform: translate(95%,-50%)
		}
	}
}