.user--profile {
	width:800px;

	margin:0 auto 30px auto;

	background:#ffffff;

	border-radius:2px;

	-webkit-box-shadow:0 2px 2px rgba(0,0,0,0.05);
			box-shadow:0 2px 2px rgba(0,0,0,0.05);


	display:-webkit-flex;
	display:		flex;
	
	align-items: center;

	-webkit-flex-flow:row wrap;
			flex-flow:row wrap;

	-webkit-justify-content:center;
			justify-content:center;

	.pic {
		-webkit-flex:0 0 170px;
				flex:0 0 170px;

		height:170px;
		max-width:170px;

		margin:40px;

		background-image: url('/static/showgrid/img/blank_avatar_240x240.gif');
		background-position: center;
		border-radius:85px;
	}

	.info {
		-webkit-flex:1 1 400px;
				flex:1 1 400px;

		padding:30px;


		.label, input {
			display:block;
		}

		input[type=text],
		input[type=password] {
			width:250px;

			padding:4px;

			border:1px solid #e2e2e2;
			border-radius:3px;
		}

		input[type=text] {
			padding:10px;
			margin:0 0 20px 0;
		}

		input[type=password] {
			margin:0 0 5px 0;
		}

		input[type=submit] {
			width:auto;


			padding:15px 15px;

			margin:15px 0;

			color:#ffffff;
			font-size:14px;
			font-weight:bolder;
			text-transform:uppercase;

			border:none;
			background:rgb(0,222,144);
			border-radius:4px;
		}

		input[type=submit].err {
			background:rgb(222,144,0);
		}

		input[type=submit].phone {
			padding:15px 15px;
			width:260px;

			margin:5px 0 20px;
			

			color:rgb(0,171,111);
			font-weight:400;
			text-transform:none;

			background:rgba(0,222,144,0.25);
			border:2px solid rgb(0,171,111);
		}

		input[type=submit].phone.empty {
			color:rgb(245,4,4);

			background:rgba(240,48,48,0.25);
			border:2px solid rgb(245,4,4);
		}
	}
}

@media screen and (max-width: 500px ) {
	.user--profile {
		width:100%;

		.pic {
			-webkit-flex:0 0 100%;
					flex:0 0 100%;
		}
	}
}