.user--profile {
	position:relative;

	width:800px;

	margin:0 auto 30px auto;

	background:#ffffff;

	border-radius:2px;

	-webkit-box-shadow:0 2px 2px rgba(0,0,0,0.05);
			box-shadow:0 2px 2px rgba(0,0,0,0.05);


	display:-webkit-flex;
	display:		flex;
	
	align-items: center;

	-webkit-flex-flow:row wrap;
			flex-flow:row wrap;

	-webkit-justify-content:center;
			justify-content:center;


	// .pic {
	// 	-webkit-flex:0 0 170px;
	// 			flex:0 0 170px;

	// 	height:170px;
	// 	max-width:170px;

	// 	margin:40px;

	// 	background-image: url('/static/showgrid/img/blank_avatar_240x240.gif');
	// 	background-position: center;
	// 	border-radius:85px;
	// }

	#logout-profile {
		display:none;

	}



	.info {
		-webkit-flex:1 1 400px;
				flex:1 1 400px;

		.section{
			width: auto;
			display:-webkit-flex;
			display:		flex;

			flex-direction: column;

			-webkit-flex-flow:row wrap;
					flex-flow:row wrap;
			padding: 10px;

		}

		.section.fields{
			-webkit-justify-content:center;
			justify-content: space-around;
			background: rgb(250,250,250);
		}

		.section.buttons{
			-webkit-justify-content:center;
			justify-content: center;
		}

		.label, input {
			display:block;
			margin:10px;
			padding:10px;
			width:auto;
			min-width: 200px;
			font-size:16px;
			border: 2px solid rgb(220,220,220);
			background:rgb(243,243,243);
			border-radius:5px;
		}

		input[type=submit] {
			min-width: auto;
			color:#ffffff;
			font-size:14px;
			font-weight:bolder;
			text-transform:uppercase;
			border:none;
			background:rgb(0,222,144);
			border-radius:4px;
		}

		input[type=submit].error {
			background:rgb(222,44,0);
		}

		// input[type=submit].phone {
		// 	padding:15px 15px;
		// 	width:260px;

			
			

		// 	color:rgb(0,171,111);
		// 	font-weight:400;
		// 	text-transform:none;

		// 	background:rgba(0,222,144,0.25);
		// 	border:2px solid rgb(0,171,111);
		// }

		// input[type=submit].phone.empty {
		// 	color:rgb(245,4,4);

		// 	background:rgba(240,48,48,0.25);
		// 	border:2px solid rgb(245,4,4);
		// }
	}
}

@media screen and (max-width: 500px ) {
	.user--profile {
		width:100%;

		padding-top:20px;

		#logout-profile {
			display:block;

			position:absolute;
			right:15px; top:10px;

			color:#005AF4;
			font-size:14px;
			text-decoration:underline;

			cursor:pointer;
		}
	}
}