@media screen and (min-width: 400px ) {
	.pic.citywinery { background:url('/static/showgrid/img/venues/citywinery.jpg'); }
	.pic.thirdandl { background:url('/static/showgrid/img/venues/thirdandl.jpg'); }
	.pic.twelveporter { background:url('/static/showgrid/img/venues/twelveporter.jpg'); }
	.pic.exitin { background:url('/static/showgrid/img/venues/exitin.jpg'); }
	.pic.marathon { background:url('/static/showgrid/img/venues/marathon.jpg'); }
	.pic.basement { background:url('/static/showgrid/img/venues/basement.jpg'); }
	.pic.rutledge { background:url('/static/showgrid/img/venues/rutledge.jpg'); }
	.pic.mercylounge { background:url('/static/showgrid/img/venues/mercylounge.jpg'); }
	.pic.highwatt { background:url('/static/showgrid/img/venues/highwatt.jpg'); }
	.pic.bluebird { background:url('/static/showgrid/img/venues/bluebird.jpg'); }
	.pic.theend { background:url('/static/showgrid/img/venues/theend.jpg'); }
	.pic.listeningroomcafe { background:url('/static/showgrid/img/venues/listeningroomcafe.jpg'); }
	.pic.douglascorner { background:url('/static/showgrid/img/venues/douglascorner.jpg'); }
	.pic.wildhorse { background:url('/static/showgrid/img/venues/wildhorse.jpg'); }
	.pic.grandoleopry { background:url('/static/showgrid/img/venues/grandoleopry.jpg'); }
	.pic.ryman { background:url('/static/showgrid/img/venues/ryman.jpg'); }
	.pic.bridgestone { background:url('/static/showgrid/img/venues/bridgestone.jpg'); }
	.pic.belcourttaps { background:url('/static/showgrid/img/venues/belcourttaps.jpg'); }
	.pic.pucketts { background:url('/static/showgrid/img/venues/pucketts.jpg'); }
	.pic.loveless { background:url('/static/showgrid/img/venues/loveless.jpg'); }
	.pic.stonefox { background:url('/static/showgrid/img/venues/stonefox.jpg'); }
	.pic.zanies { background:url('/static/showgrid/img/venues/zanies.jpg'); }
	.pic.stationinn { background:url('/static/showgrid/img/venues/stationinn.jpg'); }
	.pic.centennialpark { background:url('/media/showgrid/img/venues/centennialpark.jpg'); }
	.pic.warmemorial { background:url('/media/showgrid/img/venues/warmemorial.jpg'); }
	.pic.ascendampitheater { background:url('/media/showgrid/img/venues/ascendampitheater.jpg'); }
	
	.venue .pic {
		width:90px; height:90px;
		margin:0px auto;
				
		background-repeat:no-repeat;
		background-color:transparent;

		@include background-size(130px);
	}
}
