.venue-overlay{
	top: 50px;
	position: fixed;
	width: 25%;
	height: calc(100vh - 50px);
	.content {

		display: flex;
		flex-direction: column;
		/* float: right; */
		/* margin-top: 100%; */
		min-height: 35%;
		height: auto;
		width: calc(100% - 40px);
		padding: 20px;
		color: #fff;
		align-items: stretch;
		justify-content: space-between;
		position: absolute;
		bottom: 0px;

		.name{
			font-size: 25px;
			padding-bottom: 0px;
			font-weight: 400;
		}
		.address{
			opacity: 0.8;
			font-size: 10px;
		}

		.description{
			padding-top: 15px;
			line-height: 16px;
			opacity: 0.9;
			font-size: 12px;
			font-weight: 200;
			letter-spacing: 0.15px;
			color: #fff;
		}
		.footer{
			.icon{
				color: #fff;
				cursor: pointer;
				font-size: 20px;
				padding-right: 10px;
				opacity: 0.85;
			}
			padding-top: 20px;
			.phone{
				line-height: 25px;
				float: right;
				font-weight: 400;
				opacity: 0.8;
			}
		}
	}
	.overlay-gradient {
		position: absolute;
		top:0;
		width: 100%;
		height: 100%;
		z-index: -1;
	}
	.image {
		z-index: -1;
		position: absolute;
		top:0;
		width: 100%;
		height: 100%;
		opacity:1;
		filter: grayscale(1);

		background-size: cover;
		background-repeat: no-repeat;
		background-position: 50% 50%;
	}
}

@media (max-width: 700px) {
	.venue-overlay{

		position: fixed;
		width: 100%;
		height: calc(100% - 100px);
	}
}