.venue--page {
	display:-webkit-flex;
	display:		flex;

	width:100%; height:auto;


	h3 {
		margin:10px 0;

		font-size:20px;
   		font-weight:900;
	}


	.toggler{
		display:none;
	}


	.venue-container {
		display:-webkit-flex;
		display:		flex;

		-webkit-align-items:stretch;
				align-items:stretch;

		width:75%; height:auto;
		min-height:100vh;

		padding-top:50px;
		margin-left:25%;

		background: #F1F1F1;
		
		@include transition--transform(0.3s cubic-bezier(0, 0, 0.03, 1.01));
		@include transform(translate(0px,0vh));

		overflow-x: hidden;

		z-index:99;
	}

	hr {
		margin:5px 0;
		border:0px;
		border-bottom: 1px solid rgba(0,0,0,0.1);
	}
}


@media (max-width:500px) {
	.venue--page {
		-webkit-flex-flow:column nowrap;
				flex-flow:column nowrap;


		.toggler{
			display:block;
		}

		hr {
			margin-bottom:0;
			opacity:0;
		}

		.venue-container {
			position:relative;
			top:50px;

			display:block;

			width:100%; height:calc(100vh - 50px);
			min-height:calc(100vh - 50px);

			margin-left:0;
			margin-top:0;
			padding-top:0;

			overflow-y:scroll;
		}

		.container-offset {
			@include transform(translate(0px,100vh));
		}
	}
}


@import "venue-recent";
@import "venue-upcoming";