<!DOCTYPE html>
<html ng-app="showgrid">
	<head>
		{% load staticfiles %}
		<meta charset='utf-8'/>
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	    <meta name="description" content="Showgrid - Nashville's Local Event Backbone">
		<meta name="fragment" content="!">
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">

		<title>Showgrid</title>

		<link rel="stylesheet" type="text/css" href='{% static "showgrid/css/bootstrap.min.css" %}'/>
		<link rel="stylesheet" type="text/css" media="only screen and (max-device-width: 480px)" href='{% static "showgrid/css/small-style.css" %}'/>
		<link rel="stylesheet" type="text/css" media="only screen and (min-device-width: 480px)" href='{% static "showgrid/css/style.css" %}'/>
	</head>

	<body>
		<header>
			<a href="/"><span class="head--title sharpen">SHOWGRID <span class="smaller">| NASHVILLE</span></span></a>
		</header>

		<section ng-controller="initGrid">
			<div ng-click="previousButton()" class="previous"></div>
			<div ng-click="nextButton()" class="next"></div>
			<table show-grid-table>
				<thead>
					<tr>
						<td>
							Venue
						</td>
						<td class='thead-day-0 day-0'></td>
						<td class='thead-day-1 day-1'></td>
						<td class='thead-day-2 day-2'></td>
						<td class='thead-day-3 day-3'></td>
						<td class='thead-day-4 day-4'></td>
						<td class='thead-day-5 day-5'></td>
						<td class='thead-day-6 day-6'></td>
					</tr>
				</thead>
				<tbody>
					<!-- LOOP OVER THE TODOS IN $scope.todos -->
					<tr ng-repeat="v in venues | orderBy: 'name'">
						<td>
							<div class='venue'>
						    	<div class='{$ v.image_url $} pic'></div>
						    	<div class='name'><a href='{$ v.website $}'>{$ v.name $}</a></div>							    	
						    	<div class='address'>
						    		{$ v.address.street $}<br>
						    		{$ v.address.city $}
						    		{$ v.address.state $}
						    		{$ v.address.zip_code $}
						    	</div>
					    	</div>
						</td>
						<td class='{$ v.image_url $}-show-day-0  day-0'>
					        <div class='show' ng-repeat="s in v.shows | filter:addShow('thead-day-0') | orderBy: 'date'">
					            <div ng-if="s.website" class='artist'>
					            	<a href='{$ s.website $}'>{$ s.band_name $}</a>
					            </div>
					            <div ng-if="!s.website" class='artist'>
					            	{$ s.band_name $}
					            </div>
					            <div class='time'>{$ s.date | formatTime $}</div>
					        </div>
						</td>
						<td class='{$ v.image_url $}-show-day-1  day-1'>
					        <div class='show' ng-repeat="s in v.shows | filter:addShow('thead-day-1') | orderBy: 'date'">
					           <div ng-if="s.website" class='artist'>
					            	<a href='{$ s.website $}'>{$ s.band_name $}</a>
					            </div>
					            <div ng-if="!s.website" class='artist'>
					            	{$ s.band_name $}
					            </div>
					            <div class='time'>{$ s.date | formatTime $}</div>
					        </div>
						</td>
						<td class='{$ v.image_url $}-show-day-2  day-2'>
					        <div class='show' ng-repeat="s in v.shows | filter:addShow('thead-day-2') | orderBy: 'date'">
					            <div ng-if="s.website" class='artist'>
					            	<a href='{$ s.website $}'>{$ s.band_name $}</a>
					            </div>
					            <div ng-if="!s.website" class='artist'>
					            	{$ s.band_name $}
					            </div>
					            <div class='time'>{$ s.date | formatTime $}</div>
					        </div>
						</td>
						<td class='{$ v.image_url $}-show-day-3  day-3'>
					        <div class='show' ng-repeat="s in v.shows | filter:addShow('thead-day-3') | orderBy: 'date'">
					            <div ng-if="s.website" class='artist'>
					            	<a href='{$ s.website $}'>{$ s.band_name $}</a>
					            </div>
					            <div ng-if="!s.website" class='artist'>
					            	{$ s.band_name $}
					            </div>
					            <div class='time'>{$ s.date | formatTime $}</div>
					        </div>
						</td>
						<td class='{$ v.image_url $}-show-day-4  day-4'>
					        <div class='show' ng-repeat="s in v.shows | filter:addShow('thead-day-4') | orderBy: 'date'">
					            <div ng-if="s.website" class='artist'>
					            	<a href='{$ s.website $}'>{$ s.band_name $}</a>
					            </div>
					            <div ng-if="!s.website" class='artist'>
					            	{$ s.band_name $}
					            </div>
					            <div class='time'>{$ s.date | formatTime $}</div>
					        </div>
						</td>
						<td class='{$ v.image_url $}-show-day-5  day-5'>
					        <div class='show' ng-repeat="s in v.shows | filter:addShow('thead-day-5') | orderBy: 'date'">
					            <div ng-if="s.website" class='artist'>
					            	<a href='{$ s.website $}'>{$ s.band_name $}</a>
					            </div>
					            <div ng-if="!s.website" class='artist'>
					            	{$ s.band_name $}
					            </div>
					            <div class='time'>{$ s.date | formatTime $}</div>
					        </div>
						</td>
						<td class='{$ v.image_url $}-show-day-6  day-6'>
					        <div class='show' ng-repeat="s in v.shows | filter:addShow('thead-day-6') | orderBy: 'date'">
					           	<div ng-if="s.website" class='artist'>
					            	<a href='{$ s.website $}'>{$ s.band_name $}</a>
					            </div>
					            <div ng-if="!s.website" class='artist'>
					            	{$ s.band_name $}
					            </div>
					            <div class='time'>{$ s.date | formatTime $}</div>
					        </div>
						</td>
					</tr>
					<tr>
						<td class="new-venue" colspan="8">
							<!-- If Desktop -->
							<div>
								<div class="share">
									<h3>something missing?</h3>
									<p>Let us know if you notice a show or venue missing from the Grid. Otherwise, feel free to drop us a line and let us know what you think of the thing. We are in the early stages and welcome any and all feedback.</p>
									<p>Email us at <a href="mailto:info@showgrid.com"><b>info@showgrid.com</b></a> with any requests or comments.</p>
								</div>
								<div class='sign-up'>
									<div id="mc_embed_signup">
										<form action="//showgrid.us9.list-manage.com/subscribe/post?u=24f724359c2dd0e5e6d775b61&amp;id=49b59ce078" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
											<div id="mc_embed_signup_scroll">
												<label for="mce-EMAIL">Receive news and updates about Show Grid</label><br>
												<input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="Email" required>
												<!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
												<div style="position: absolute; left: -5000px;">
													<input type="text" name="b_24f724359c2dd0e5e6d775b61_49b59ce078" tabindex="-1" value="">
												</div>
												<input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button">
											</div>
										</form>
									</div>
								</div>
							</div>
						</td> 
					</tr>
				</tbody>
			</table>
			<div class="new-venue">
				<!-- If Mobile -->
				<div class="share">
					<h3>something missing?</h3>
					<p>Let us know if you notice a show or venue missing from the Grid. Otherwise, feel free to drop us a line and let us know what you think of the thing. We are in the early stages and welcome any and all feedback.</p>
					<p>Email us at <a href="mailto:ishowgridnashville@gmail.com"><b>showgridnashville@gmail.com</b></a> with any requests or comments.</p><br>
				</div>
				<div class='sign-up'>
					<!-- Begin MailChimp Signup Form -->
					<div id="mc_embed_signup">
						<form action="//showgrid.us9.list-manage.com/subscribe/post?u=24f724359c2dd0e5e6d775b61&amp;id=49b59ce078" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
							<div id="mc_embed_signup_scroll">
								<label for="mce-EMAIL">Receive news and updates about Show Grid</label><br>
								<input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="Email" required>
								<!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
								<div style="position: absolute; left: -5000px;">
									<input type="text" name="b_24f724359c2dd0e5e6d775b61_49b59ce078" tabindex="-1" value="">
								</div>
								<div class="clear">
									<input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button">
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
		</section>
	</body>


	<script src={% static "showgrid/js/jquery.min.js" %}></script>
	<script src={% static "showgrid/js/angular.min.js" %}></script>
	<script src={% static "showgrid/js/angular-route.min.js" %}></script>
	<script src={% static "showgrid/js/moment.min.js" %}></script>
	<script src={% static "showgrid/js/moment-timezone.min.js" %}></script>
	<script>
		var showgrid = angular.module('showgrid', ['ngRoute'])
			.config(function($interpolateProvider, $routeProvider, $locationProvider) {
		        $routeProvider.when('/:year/:month/:day', {
		            controller: 'dayOfWeekGridCtrl'
		        });

		        $locationProvider.html5Mode(true);

			    $interpolateProvider.startSymbol('{$');
			    $interpolateProvider.endSymbol('$}');
			})
			.filter('formatTime', function() {
		  		return function(input) {
		  			return moment(input).format("h:mm A");
		  		};
		  	})
		    .controller('dayOfWeekGridCtrl', function ($scope, $routeParams) {
		        $scope.day = $routeParams.day;
		        $scope.month = $routeParams.month;
		        $scope.year = $routeParams.year;
		    }).directive("showGridTable", function () {
			    return function ($scope, $element, $attrs) {
			        $scope.$watch("venues", function (value) {
			            var val = value || null;   
			            if (val && window.innerWidth <= 480) {
			            	if ($scope.previousDay) {
								$("td:not(:nth-child(1))").hide();
								$("td:nth-child(8)").show();
								$(".previous").show();
							}

							$("div.venue").width(window.innerWidth/2);
			            }
			        });
			    };
			});

		function initGrid($scope, $http) {
			var url_params = getDateFromUrl(document.URL);

			$("tbody").height(window.innerHeight - ($("header").height() + $("thead").height()));

			$(window).mousemove(function (e) {
				if (e.pageY > 120 && e.pageX < Math.floor(window.innerWidth * .06)) {
					console.log("SHOW PREVIOUS");
					$(".previous").show();
					$(".next").hide();
				}
				else if (e.pageY > 120 && e.pageX > Math.floor(window.innerWidth * .94)) {
					console.log("SHOW NEXT");
					$(".next").show();
					$(".previous").hide();
				}
				else {
					console.log("MOVING");
					$(".next").hide();
					$(".previous").hide();
				}
			});

			$http.get('/i/grid/' + url_params.join("/"))
				.success(function(data) {
					if (url_params.length === 3) {
						setTableHeadDates(
							new Date(url_params[1] + '/' + url_params[2] + '/' + url_params[0])
						);
					}
					else {
						setTableHeadDates(new Date());
					}

					$scope.venues = data;

					if (window.innerWidth <= 480) $("div.new-venue").show();
					else $("td.new-venue").show();
				})
				.error(function(data) {
					console.log('Error: ' + data);
				});

			$scope.previousButton = function() {
				// IF screen size less than 480 and there is a next cell, show the next cell
				// IF screen size less than 480 and there is no next cell, fetch
				if (window.innerWidth < 480){
					previousDay($http, $scope);
					return;
				}
				previousWeek($http, $scope);
			}

			$scope.nextButton = function() {
				$(".previous").show();
				if (window.innerWidth < 480){
					nextDay($http, $scope);
					return;
				}
				nextWeek($http, $scope);
			}

			$scope.addShow = function(datePod) {
				return function(show) {
					var pod = $("." + datePod);
					var day = new Date(pod.html() + ", 2015").setHours(0,0,0,0); // WOW DUMB CHANGE THIS
					var showDay = new Date(show.date.split(" ")[0]).setHours(0,0,0,0);
				
					return day === showDay;
				}
			}
		}

		function setTableHeadDates(d) {
			var weekdays = ["sunday", "monday", "tuesday", "wednesday", "thursday", "friday", "saturday"];
			var months = [
				"january", "february", "march", "april", "may", "june", "july", 
				"august", "september", "october", "november", "december"
			];

			if (d.getTime() > new Date()) {
				$(".previous").show();
			}

			for (var i=0; i < 7; i++) {
				var currentDay = addDays(d, i);
				var dayOfWeek = weekdays[ currentDay.getDay() ];
				var month = months[ currentDay.getMonth() ];
				var dayOfMonth = currentDay.getDate();

				var pod = $(".thead-day-" + i);
				pod.html(dayOfWeek + " " + month + " " + dayOfMonth);
				pod.data({ "day-num": i, "day-of-week": dayOfWeek });
			}
		} 

		function getDateFromUrl(site) {
			var url = site.split(/(\/)/);
			if (url.length === 11) {
				var year = url[6], month = url[8], day = url[10];
				return [year, month, day];
			} 
			return [];
		}

		function addDays(date, days) {
		    var result = new Date(date);
		    result.setDate(date.getDate() + days);
		    return result;
		}

		function previousDay($http, $scope) {
			$scope.previousDay = false;

			var ele = $("td:not(:nth-child(1)):visible");
			if (!$(".thead-day-0.day-0").is(":visible")) {
				ele.prev().show();
				ele.hide();
				return;
			}

			$scope.previousDay = true;
			previousWeek($http, $scope);
		}

		function nextDay($http, $scope) {
			$scope.previousDay = false;

			var ele = $("td:not(:nth-child(1)):visible");
			if (!$(".thead-day-6.day-6").is(":visible")) {
				ele.next().show();
				ele.hide();
				return;
			}

			nextWeek($http, $scope);
			$("td:not(:nth-child(1))").hide();
			$(".day-0").show();
		}

		function previousWeek($http, $scope) {
			var d = new Date(
				$(".thead-day-0").html() + " " + new Date().getFullYear()
			);
			d.setDate(d.getDate() - 7);

			var today = new Date().setHours(0,0,0,0);

			if (d.getTime() <= today) {
				$(".previous").hide();
			}

			$http.get('/i/grid/' + d.getFullYear() + '/' + (d.getMonth() + 1) + '/' + d.getDate())
				.success(function(data) {
					setTableHeadDates(d);

					$scope.venues = data;
					console.log(data);

					var url = '/';
					if (today != d.getTime()) {
						url = '/' + d.getFullYear() + '/' + (d.getMonth() + 1) + '/' + d.getDate();
					}

					window.history.pushState("", "Showgrid", url);
				})
				.error(function(data) {
					console.log('Error: ' + data);
				});
		}

		function nextWeek($http, $scope) {
			var d = new Date(
				$(".thead-day-6").html() + " " + new Date().getFullYear()
			);
			d.setDate(d.getDate() + 1);

			var today = new Date().setHours(0,0,0,0);
			
			$(".previous").show();

			$http.get('/i/grid/' + d.getFullYear() + '/' + (d.getMonth() + 1) + '/' + d.getDate())
				.success(function(data) {
					setTableHeadDates(d);

					$scope.venues = data;
					console.log(data);

					var url = '/';
					if (today != d.getTime()) {
						url = '/' + d.getFullYear() + '/' + (d.getMonth() + 1) + '/' + d.getDate();
					}

					window.history.pushState("", "Showgrid", url);
				})
				.error(function(data) {
					console.log('Error: ' + data);
				});
		}
	</script>
</html>
